.maintext {
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}
a:link {
	color: #FF00FF;
	text-decoration: none;
}
a:active {
	color: #FFFF00;
}
a:visited {
	color: #FF0000;
}
a:hover {
	color: #0000FF;
}
.downtext {
	line-height: 50px;
	color: #FF0000;
	font-size: 36px;
	font-weight: bold;
}
.morebutton {
	font-size: 24px;
	line-height: 50px;
	color: #3366FF;
	font-weight: bold;
	cursor: pointer;
}
.indextext {
	font-size: 18px;
	font-weight: bold;
	color: #00CCFF;
	line-height: 50px;
}
.dottedline {
	border-right-style: dashed;
	border-right-width: 2px;
	border-right-color: #CCCCCC;
}
.curpointer {
	cursor:pointer;
}